{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authenticate</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">  
    <style>
        body{margin:0% 30% 0% 30%;background-image: url('{% static 'img/0.jpg' %}');background-repeat: no-repeat;background-size: 100%;  background-attachment: fixed;}
        .purple-border textarea {border: 1px solid #ba68c8;}
    </style>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  {% block content %}

  {% endblock %}
</body>
</html>