{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{margin:20% 30% 0% 30%;background-image: url('{% static 'img/0.jpg' %}');background-repeat: no-repeat;background-size: 100%;  background-attachment: fixed;}
        .purple-border textarea {border: 1px solid #ba68c8;}
    </style>
</head>
<body>
    <h3 style="color:rgb(0, 0, 102)" class="font-weight-bold">What chat room would you like to enter?</h3><br/>
    <input id="room-name-input" type="text" size="80" class="form-control mb-lg-5"><br>
    <input id="room-name-submit" type="button" value="Enter" class="btn btn-success">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>