<!-- login.html -->
{% extends 'chat/base.html' %}
{% load widget_tweaks %}

{% block content %}

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        
      </h1>

      <div class="columns">
        <div class="column is-offset-2 is-8">
          <h2 style="color:rgb(0, 0, 102)" class="font-weight-bold mb-4">
            Login
          </h2>

          <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
    
            <div class="field">
              <label for="{{ form.username.id_for_label }}" class="label">
                Username
              </label>
              <div class="control">
                {{ form.username|add_class:"input" }}
              </div>
              <p class="help is-danger">{{ form.username.errors }}</p>
            </div>

    
            <div class="field">
              <label for="{{ form.password.id_for_label }}" class="label">
                Password
              </label>
              <div class="control">
                {{ form.password|add_class:"input" }}
              </div>
              <p class="help is-danger">{{ form.password.errors }}</p>
            </div>
            Not a user? <a href="{% url 'register' %}">Register</a>
            <div class="field">
              <div class="control">
                <button class="button btn-success">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}