{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <style>
        body{margin:0% 30% 0% 30%;background-image: url('{% static 'img/0.jpg' %}');background-repeat: no-repeat;background-size:100%% 100%;  background-attachment: fixed;}
        .purple-border textarea {position: relative;border: 3px solid #ba68c8;border-radius: 25px;}
        #stlist {
            border-radius: 25px;
            position: absolute;
            left: 25px;
            margin: 0 0 0 -1px;
            padding: 15px;
            list-style: none;
            background-color:rgba(153, 204, 255);
            }
        #delete-log{
            position: absolute;
            right: 32%;
            top: 28.81%;
            margin: 0 0 0 -1px;
            cursor:pointer;
        }
    </style>
    {% comment %} <script src="{% static '/js/channels/websocketbridge.js' %}" type="text/javascript"></script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
            {% if request.user.is_authenticated %}
            <a class="navbar-brand" href="#">Welcome {{ request.user }}</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'login' %}">Hello, please login</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>              
                        {% else %}
                        <div class="buttons">
                            <a class="nav-link" href="{% url 'register' %}">
                            <strong>Sign up</strong>
                            </a>
                        </div>
                        {% endif %}
                </li>
                </ul>
            </div>
            </div>

            
        </nav>

    <br/><br/><br/><br/><br/>
    <h3 style="color:rgb(0, 0, 102)" class="font-weight-bold mb-4">
            Current user: {{ request.user }}<br/>
            {% if request.user.is_superuser %}(admin){% endif %}
          </h3>
    {% if request.user.is_authenticated %}
    
    <!-- notifications -->
            <ul id="stlist">
            {% comment %} {% for user in users %}
            <!-- NOTE: We escape HTML to prevent XSS attacks. -->
            <li id="li" data-username="{{ user.username }}">
                {{ user.username }}: {{ user.status|default:'Offline' }}
            </li> 
            {% endfor %} {% endcomment %}
            </ul>
    <!-- /notifications -->

    

    <div class="form-group purple-border">
        <textarea class="form-control"  readonly id="chat-log" cols="50" rows="15"></textarea><br>
    </div>
    <input id="chat-message-input" type="text" size="58" class="form-control"><br/>
    <input id="chat-message-submit" type="button" value="Send" class="btn btn-dark">
    {{ room_name|json_script:"room-name" }}

    <div id="delete-log"></div>
    {% else %}
    <div style="background-color:rgb(0, 0, 0, 0.5);padding:15px;" class="text-white text-center font-weight-bold">
    <h1  > Welcome </h1>
            <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </h4>
    </div>
    {% endif %}

    <script>
    {% if request.user.is_authenticated %}
        const roomName = {{ roomName.id }}

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if(data.message != "")
            {
            //document.querySelector('#chat-log').value += (data.message);
            loadMessage();
            }
            
            else{
            
            //var data = JSON.parse(event.data);
            console.log(data.user);
            // NOTE: We escape JavaScript to prevent XSS attacks.
            var username = data.user;
            console.log(data.user);
            if(username.toLowerCase() != "{{ request.user }}")
            {

            var msg = ``;
            if(data['status']){
                msg = ` is online`;
            }
            else{
                msg = ` is offline`;
            }
            var node = document.createElement("LI");                 
            var textnode = document.createTextNode(username+msg);         
            node.appendChild(textnode);  
            document.getElementById("stlist").appendChild(node);
            }

            }
            
                    
                    
                


        };

        if (chatSocket.readyState == WebSocket.OPEN) {
        chatSocket.onopen();
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

        
        String.prototype.leftJustify = function( length, char ) {
            var fill = [];
            while ( fill.length + this.length < length ) {
            fill[fill.length] = char;
            }
            return fill.join('') + this;
        }
        String.prototype.rightJustify = function( length, char ) {
            var fill = [];
            while ( fill.length + this.length < length ) {
            fill[fill.length] = char;
            }
            return this + fill.join('');
        }

        function loadMessage() {
            newDiv = document.getElementById("chat-log");
            Div = document.getElementById("delete-log");
            Div.innerHTML = "";
            newDiv.innerHTML = "";
            let message = ``;
            const para = new Array();
            var i=0;
            fetch("{% url 'history' roomName.id %}")
                .then( response => response.json() )
                .then( data => {
                    
                    for (let msg of data) {
                        if(msg.username.toLowerCase() == "{{ request.user }}")
                        {
                            message = msg.message.leftJustify(100, " ");
                            var str = "Delete";
                            para.push(document.createElement("a"));
                            //var para = document.createElement("a");                       // Create a <p> node
                            var br = document.createElement("br");
                            var t = document.createTextNode("delete");      // Create a text node
                            
                            
                            //para.appendChild(t);
                            para[i].appendChild(t);
                            
                            para[i].classList.add("btn-danger");
                            para[i].classList.add("btn-sm");
                            //para.classList.add("form-control");

                            //para.appendChild(br);
                            para[i].appendChild(br);
                            
                            strID = msg.id.toString();
                            //para[i].setAttribute('id', strID);
                            roomID = {{ roomName.id }}
                            para[i].id = strID;
                            para[i].onclick = function () {
                                console.log(this.id);
                                chatSocket.send(JSON.stringify({
                                'message': "",
                                "id":this.id
                            }));
                            
                            //para.href = "/chat/delete/"+roomID+"/"+strID;
                            //loadMessage();
                            }
                            
                        }
                        else{
                            message = msg.message
                            var str = "";
                            para.push(document.createElement("a")); 
                            strID = msg.id.toString();
                            //var para[i] = document.createElement("a"); 
                            var br = document.createElement("br");
                            var t = document.createTextNode("");
                            para[i].appendChild(br);
                            
                        }
                        Div.appendChild(para[i]);
                        newDiv.innerHTML += message;
                        i += 1;
                    }
                })
                
            
        }
        loadMessage()
    {% endif %}
    </script>
</body>
</html>